// Заголовки, общие БЭМ блоки и прочее...
.title {
	font-family: var(--second-family);
	font-weight: 500;
	@include adaptiveValue("font-size", 48, 24);
	text-align: center;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 100, 40);
	}
	span {
		&:first-child {
			margin-right: 12%;
			@media (max-width: $tablet) {
				margin-right: 18%;
			}
			@media (max-width: $mobile) {
				margin-right: 21%;
			}
			@media (max-width: $mobileSmall) {
				margin-right: 28%;
			}
		}
	}
	span {
		&:last-child {
			margin-left: 12%;
			@media (max-width: $tablet) {
				margin-left: 18%;
			}
			@media (max-width: $mobile) {
				margin-left: 21%;
			}
			@media (max-width: $mobileSmall) {
				margin-left: 28%;
			}
		}
	}
}
.tabs-title {
	@include adaptiveValue("font-size", 24, 18, 0, 1410, 479.98);
}
.title-footer {
	@include adaptiveValue("font-size", 28, 24);
	font-weight: 700;
	&:not(:last-child) {
		margin-bottom: toRem(15);
	}
}
