// Заголовки, общие БЭМ блоки и прочее...
.title {
	font-family: var(--second-family);
	font-weight: 500;
	@include adaptiveValue("font-size", 48, 24);
	text-align: center;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 100, 40);
	}
	span {
		&:first-child {
			margin-right: 17%;
			@media (max-width: $tablet) {
				margin-right: 20%;
			}
			@media (max-width: $mobile) {
				margin-right: 23%;
			}
			@media (max-width: $mobileSmall) {
				margin-right: 30%;
			}
		}
	}
	span {
		&:last-child {
			margin-left: 17%;
			@media (max-width: $tablet) {
				margin-left: 20%;
			}
			@media (max-width: $mobile) {
				margin-left: 23%;
			}
			@media (max-width: $mobileSmall) {
				margin-left: 30%;
			}
		}
	}
}
.tabs-title {
	@include adaptiveValue("font-size", 24, 18, 0, 1410, 479.98);
}
