//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&__container {
		min-height: 88px;
		display: flex;
		align-items: center;
	}
	&__menu {
	}
}
.menu {
	&__body {
	}
	&__list {
		display: flex;
		@media (max-width: em(1000)) {
			justify-content: center;
		}
		@include adaptiveValue("gap", 40, 15);
	}
	&__item {
	}
	&__link {
		font-weight: 600;
		font-family: var(--second-family);
		color: #fff;
		@include adaptiveValue("font-size", 24, 16);
	}
}
