.location {
	position: relative;
	z-index: 1;
	&__container {
	}
	&__title {
	}
	&__map {
		border-radius: 40px;
		border: 1px solid black;
		width: 100%;
		@include adaptiveValue("max-height", 468, 300, 0, 1410, 991.98);
		aspect-ratio: 1410 / 468;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	}
}
