.main-block {
	@include adaptiveValue("padding-bottom", 195, 50);
	@include adaptiveValue("padding-top", 205, 104);
	position: relative;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		@media (max-width: em(730)) {
			justify-content: center;
			text-align: center;
		}
	}
	&__content {
		color: #fff;
		display: grid;
		@include adaptiveValue("row-gap", 40, 15);
		@include adaptiveValue("max-width", 570, 465, 0, 1410, 1000);
		@media (max-width: em(1000)) {
			@include adaptiveValue("max-width", 465, 347, 0, 1000, 768);
		}
		@media (max-width: em(730)) {
			max-width: none;
		}
	}
	&__label {
		font-family: var(--second-family);
		font-weight: 600;
		@include adaptiveValue("font-size", 28, 20, 0, 1410, 1000);
		@media (max-width: em(480)) {
			@include adaptiveValue("font-size", 20, 18, 0, 480, 350);
		}
		color: rgba(255, 255, 255, 0.8);
	}
	&__title {
		font-family: var(--second-family);
		font-weight: 700;
		@include adaptiveValue("font-size", 56, 44, 0, 1410, 1000);
		@media (max-width: em(1000)) {
			@include adaptiveValue("font-size", 44, 36, 0, 1000, 768);
		}
		@media (max-width: em(768)) {
			@include adaptiveValue("font-size", 36, 32, 0, 768, 480);
		}
		@media (max-width: em(480)) {
			@include adaptiveValue("font-size", 32, 28, 0, 768, 350);
		}
	}
	&__text {
		@include adaptiveValue("font-size", 20, 18, 0, 1410, 1000);
		@media (max-width: em(1000)) {
			@include adaptiveValue("font-size", 18, 16, 0, 1000, 768);
		}
	}
	&__img {
		@media (max-width: em(730)) {
			display: none;
		}
		max-width: 570px;
		img {
			max-width: 100%;
			border-radius: 50px;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
		}
	}
	&__background-image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&__decor {
		position: absolute;
		animation: rotate 15s linear infinite !important;
		@include adaptiveValue("width", 425, 100, 0, 1920, 350);
		@include adaptiveValue("height", 425, 100, 0, 1920, 350);
		@include adaptiveValue("bottom", -200, -50, 0, 1920, 350);
		@include adaptiveValue("right", -200, -50, 0, 1920, 350);
		img {
			@include adaptiveValue("width", 425, 100, 0, 1920, 350);
			@include adaptiveValue("height", 425, 100, 0, 1920, 350);
		}
	}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
