.questions {
	@include adaptiveValue("padding-bottom", 90, 60);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 477px;
		height: 388px;
		top: 220px;
		@include adaptiveValue("left", 20, -400, 0, 1920, 991.98);
		background: url("@img/questions/gray-decoration02.svg") 0 0/100% no-repeat;
		z-index: 2;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__container {
		max-width: 1170px;
	}
	&__spollers {
	}
}
.spollers {
	&__item {
	}
	&__title {
	}
	&__body {
	}
}
