.questions {
	@include adaptiveValue("padding-top", 90, 40);
	@include adaptiveValue("padding-bottom", 130, 40);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 300px;
		left: -180px;
		width: 362px;
		height: 410px;
		background: url("@img/rewievs/gray-decoration04.svg") 0 0/100% no-repeat;
		z-index: 1;
		@media (max-width: $pc) {
			display: none;
		}
	}
	&__container {
		max-width: 1170px;
	}
	&__title {
		span {
			&:first-child {
				margin-right: 20%;
				@media (max-width: $tablet) {
					margin-right: 23%;
				}
				@media (max-width: $mobile) {
					margin-right: 25%;
				}
				@media (max-width: $mobileSmall) {
					margin-right: 30%;
				}
			}
		}
		span {
			&:last-child {
				margin-left: 20%;
				@media (max-width: $tablet) {
					margin-left: 23%;
				}
				@media (max-width: $mobile) {
					margin-left: 25%;
				}
				@media (max-width: $mobileSmall) {
					margin-left: 30%;
				}
			}
		}
	}
	&__spollers {
	}
}
.spollers {
	&__item {
	}
	&__title {
	}
	&__body {
	}
}
